<div class="product-administration-list">

  <ng-container *ngFor="let product of products.domain ">
    <div class="product-administration-list__row"
         appHover
         [borderRadius]="'6px'"
         [backgroundColor]="'#f6f6f6'"
         fxLayout="row" fxLayoutAlign="start center" style="margin-bottom: 10px">
      <div class="background-image product-administration-list__row__avatar" [ngStyle]="{'background-image':'url('+product.image+')'}"></div>
      <div class="product-administration-list__details">
        <div class="mat-title">{{product.title}}</div>
        <div class="mat-body-1">{{product.description}}</div>
        <div fxLayout="row" fxLayoutGap="10px" class="product-administration-list__row__actions">
          <button mat-stroked-button color="accent" fxLayout="row">
            <mat-icon>edit</mat-icon>
            <span>EDIT</span>
          </button>
          <button mat-button color="primary" (click)="removeProduct(product.id)">REMOVE</button>
        </div>

      </div>
      <div>

      </div>
    </div>


  </ng-container>

</div>


