.toolbar {
  height: 64px;

  &__title {
    height: 40px;

    mat-icon {
      margin-right: 20px;
      font-size: 34px;
      height: 35px;
    }
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__actions {
    padding-right: 10px;
    padding-left: 10px;
  }

}
