<mat-toolbar class="mat-elevation-z4 toolbar" color="primary"
             fxLayout="row"
             fxLayoutAlign="start center">

  <div class="toolbar__title" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon>store</mat-icon>
    <div>EShop</div>
  </div>

  <span class="toolbar__spacer"></span>

  <div class="toolbar__actions" fxLayout="row" fxLayoutGap="10px">
    <button
      [matBadge]="favoriteCount"
      matBadgeColor="accent"
      mat-icon-button
      aria-label="Favorite information">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Cart information">
      <mat-icon>shopping_basket</mat-icon>
    </button>
  </div>
</mat-toolbar>
