.product-item {
  width: inherit;
  position: relative;


  &__favorite {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__image {
    width: 100%;
    // change this to modify aspect ratio
    padding-top: 100%;
  }

  &__content {
    padding: 20px;

    &__description {
      height: 80px;
      overflow-y: scroll;
    }

    &__actions {
      margin-top: 20px;

      button {
        width: 60%;
        min-width: 150px;

        mat-icon {
          margin-right: 6px;
        }
      }
    }
  }

}
