<div class="product-favorite">
  <div class="mat-title">Favorite products</div>
  <div *ngFor="let item of favoriteProducts$ | async" class="product-favorite__list">
    <div class="mat-body-2 product-favorite__list__row" fxLayout="row" fxLayoutAlign="start center" appHover>
      <div [ngStyle]="{'background-image':'url('+item.image+')'}" class="background-image product-favorite__list__row__avatar" fxFlex="140px"></div>
      <div class="product-favorite__list__row__product-description" fxFlex="550px">
        <div class="mat-subheading-1">{{item.title}}</div>
        <div class="mat-body-1">{{item.description}}</div>
        <div class="product-favorite__list__row__product-description__actions" fxLayout="row" fxLayoutGap="20px">
          <button color="accent" mat-stroked-button matTooltip="Add to cart">
            <mat-icon>add_shopping_cart</mat-icon>
            <span>ADD TO CART</span>
          </button>
          <button (click)="removeProduct(item)" color="primary" mat-icon-button matTooltip="Remove from favorite">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>


    </div>
  </div>

</div>


