<div fxLayout="row" style="height: 100%;">
  <div fxFlex="100" class="left" [@cartDetailsLeft]="shown === true ? 'shown':'hidden' "></div>
  <div fxFlex="600px" class="cart-container mat-elevation-z5"
       [@cartDetailsRight]="shown === true ? 'shown':'hidden'"
       (@cartDetailsRight.done)="handleEvent($event)">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button (click)="closeCartOverlay()" color="primary">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <div class="mat-title" style="margin-bottom: 0;">Cart Details</div>
    </div>
    <ng-container *ngIf="cartProducts$ | async as cartProducts">
      <ng-container *ngIf="cartProducts.length > 0 else empty">
        <div fxLayout="column" fxLayoutGap="10px">
          <div *ngFor="let item of cartProducts">
            <app-cart-product-item [item]="item"></app-cart-product-item>
            <mat-divider></mat-divider>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="end" fxLayoutGap="10px">
            <div>Total price: {{cartTotalPrice$ | async}}</div>
            <button mat-stroked-button color='accent' (click)="placeOrder()">Place Order</button>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #empty>
  <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;height: 200px; text-align: center">
    <div>
      <div class="mat-title">Missing products</div>
      <div class="mat-body-2">Please add products to favorite...</div>
    </div>
  </div>
</ng-template>


