<div class="product-list">

  <div style="padding-left: 20px;padding-right: 20px;">
    <ng-container *ngIf="!showProductFavorite">
      <app-favorite-details></app-favorite-details>
    </ng-container>
  </div>


  <button mat-raised-button color="primary" (click)="showProductFavorite = !showProductFavorite"> SHOW / HIDE FAVORITE DETAILS</button>

  <div
    ngClass.xs="product-list-xs"
    ngClass.sm="product-list-sm"
    ngClass.md="product-list-md"
    ngClass.lg="product-list-lg"
    ngClass.xl="product-list-lg"
    fxLayout="row wrap">
    <div class="product-list__container__item" *ngFor="let productTemplateRef of products">
      <app-product-item (productAddedToFavorite)="handleProductAddedToFavorite($event)" [product]="productTemplateRef"></app-product-item>
    </div>
  </div>
</div>


