.product-cart {
  position: relative;
  background: white;
  padding: 10px;
  border-radius: 8px;

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__wrapper {
    max-height: calc(600px - 42px);
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__list {

    &__row {
      padding: 8px;
      margin-bottom: 10px;

      &__avatar {
        border-radius: 8px;
        height: 140px;
        width: 140px;
      }

      &__product-description {
        margin-left: 10px;

        &__actions {
          margin-top: 8px;

          .short-form-field {
            width: 50px;
          }

          .mat-icon {
            margin-top: 12px;
          }
        }
      }
    }
  }

}
