<div class="product-administration">
  <mat-toolbar *cdkPortal color="accent" fxLayout="row" fxLayoutAlign="space-between center" class="mat-elevation-z3" style="height: 45px;
    margin-bottom: 20px;
    background: #ff8a65;">
    <div class="mat-title" style="margin-bottom: 0px; color: #2e2936;">SHOP ADMINISTRATION</div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
      <button mat-button color="primary" (click)="handleNewProduct()">NEW PRODUCT</button>
      <button mat-button color="primary" routerLink="orders">ORDERS</button>
      <button mat-button color="primary" routerLink="product-list">PRODUCT LIST</button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
