// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
$primary-palette: (
  50 : #e7e6e8,
  100 : #c2c0c5,
  200 : #99979e,
  300 : #706d77,
  400 : #524d59,
  500 : #332e3c,
  600 : #2e2936,
  700 : #27232e,
  800 : #201d27,
  900 : #14121a,
  A100 : #945fff,
  A200 : #722cff,
  A400 : #5300f8,
  A700 : #4a00df,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
;
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-palette: mat-palette($primary-palette);
$accent-palette: mat-palette($mat-deep-orange);
$error-palette: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$application-theme: mat-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $error-palette,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($application-theme);

/* You can add global styles to this file, and also import other style files */

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$application-typography: mat-typography-config(
  $font-family: 'Popins, "Helvetica Neue", sans-serif',
  $display-4: mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 400),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(14px, 24px, 500),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(14px, 14px, 500),
);
@include angular-material-typography($application-typography);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 400 14px/20px Popins, "Helvetica Neue", sans-serif;
  letter-spacing: normal
}

.background-image {
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
